WebContent/WEB-INF/services/UploadService/META-INF/RegistrationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegistrationService" targetNamespace="http://www.example.org/RegistrationService/" xmlns:types="http://www.example.org/RegistrationServiceElements/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/RegistrationService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/RegistrationService/">
			<xsd:import namespace="http://www.example.org/RegistrationServiceElements/" schemaLocation="RegistrationServiceElements.xsd"/> 
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RegisterUserResponse">
    <wsdl:part name="RegisterUserResponse" element="types:RegisterUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSpeakersRequest">
    <wsdl:part name="GetSpeakersRequest" element="types:GetSpeakersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSpeakerLocationRequest">
    <wsdl:part name="SetSpeakerLocationRequest" element="types:SetSpeakerLocationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorMessage">
    <wsdl:part name="ErrorMessage" element="types:ErrorMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSpeakersResponse">
    <wsdl:part name="GetSpeakersResponse" element="types:GetSpeakersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSpeakerLocationResponse">
    <wsdl:part name="SetSpeakerLocationResponse" element="types:SetSpeakerLocationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveUserRequest">
    <wsdl:part name="RemoveUserRequest" element="types:RemoveUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RegisterUserRequest">
    <wsdl:part name="RegisterUserRequest" element="types:RegisterUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegistrationService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input message="tns:RegisterUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:RegisterUserResponse">
    </wsdl:output>
      <wsdl:fault name="Error" message="tns:ErrorMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSpeakers">
      <wsdl:input message="tns:GetSpeakersRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetSpeakersResponse">
    </wsdl:output>
      <wsdl:fault name="Error" message="tns:ErrorMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSpeakerLocation">
      <wsdl:input message="tns:SetSpeakerLocationRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetSpeakerLocationResponse">
    </wsdl:output>
      <wsdl:fault name="Error" message="tns:ErrorMessage">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input message="tns:RemoveUserRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationServiceSOAP" type="tns:RegistrationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://www.example.org/RegistrationService/RegisterUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault name="Error" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSpeakers">
      <soap:operation soapAction="http://www.example.org/RegistrationService/GetSpeakers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault name="Error" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetSpeakerLocation">
      <soap:operation soapAction="http://www.example.org/RegistrationService/SetSpeakerLocation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault name="Error" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://www.example.org/RegistrationService/RemoveUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="RegistrationServiceSOAP" binding="tns:RegistrationServiceSOAP">
      <soap:address location="http://localhost:8080/DistributedSoundScape/services/RegistrationService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
