WebContent/WEB-INF/services/UploadService/META-INF/UploadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UploadService" targetNamespace="http://www.example.org/UploadService/" xmlns:types="http://www.example.org/UploadServiceElements/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/UploadService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/UploadService/">
			<xsd:import namespace="http://www.example.org/UploadServiceElements/" schemaLocation="UploadServiceElements.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeleteSongRequest">
    <wsdl:part name="Request" element="types:DeleteSongRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsSongLoadedResponse">
    <wsdl:part name="Response" element="types:IsSongLoadedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UploadSongRequest">
    <wsdl:part name="Request" element="types:UploadSongRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ErrorMessage">
    <wsdl:part name="ErrorMessage" element="types:ErrorMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IsSongLoadedRequest">
    <wsdl:part name="Request" element="types:IsSongLoadedRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UploadService">
    <wsdl:operation name="UploadSong">
      <wsdl:input message="tns:UploadSongRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteSong">
      <wsdl:input message="tns:DeleteSongRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsSongLoaded">
      <wsdl:input message="tns:IsSongLoadedRequest">
    </wsdl:input>
      <wsdl:output message="tns:IsSongLoadedResponse">
    </wsdl:output>
      <wsdl:fault name="Error" message="tns:ErrorMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadServiceSOAP" type="tns:UploadService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UploadSong">
      <soap:operation soapAction="http://www.example.org/UploadService/UploadSong"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteSong">
      <soap:operation soapAction="http://www.example.org/UploadService/DeleteSong"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsSongLoaded">
      <soap:operation soapAction="http://www.example.org/UploadService/IsSongLoaded"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault name="Error" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadService">
    <wsdl:port name="UploadServiceSOAP" binding="tns:UploadServiceSOAP">
      <soap:address location="http://localhost:8080/DistributedSoundScape/services/UploadService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
