WebContent/WEB-INF/services/RegistrationService/META-INF/ControlService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ControlService" targetNamespace="http://www.example.org/ControlService/" xmlns:types="http://www.example.org/ControlServiceElements/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/ControlService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/ControlService/">
			<xsd:import namespace="http://www.example.org/ControlServiceElements/" schemaLocation="ControlServiceElements.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessPlaybackCommandRequest">
    <wsdl:part name="ProcessPlaybackCommandRequest" element="types:ProcessPlaybackCommandRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProcessPlaybackCommandResponse">
    <wsdl:part name="ProcessPlaybackCommandResponse" element="types:ProcessPlaybackCommandResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSoundScapeSourceLayoutResponse">
    <wsdl:part name="SetSoundScapeSourceLayoutResponse" element="types:SetSoundScapeSourceLayoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetSoundScapeSourceLayoutRequest">
    <wsdl:part name="SetSoundScapeSourceLayoutRequest" element="types:SetSoundScapeSourceLayoutRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ControlService">
    <wsdl:operation name="SetSoundScapeSourceLayout">
      <wsdl:input message="tns:SetSoundScapeSourceLayoutRequest">
    </wsdl:input>
      <wsdl:output message="tns:SetSoundScapeSourceLayoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPlaybackCommand">
      <wsdl:input message="tns:ProcessPlaybackCommandRequest">
    </wsdl:input>
      <wsdl:output message="tns:ProcessPlaybackCommandResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ControlServiceSOAP" type="tns:ControlService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SetSoundScapeSourceLayout">
      <soap:operation soapAction="http://www.example.org/ControlService/SetSoundScapeSourceLayout"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessPlaybackCommand">
      <soap:operation soapAction="http://www.example.org/ControlService/ProcessPlaybackCommand"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControlService">
    <wsdl:port name="ControlServiceSOAP" binding="tns:ControlServiceSOAP">
      <soap:address location="http://localhost:8080/DistributedSoundScape/services/ControlService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
